.upload-area {
  border: 1px solid var(--color-background-tint);
  border-radius: 4px;
  padding: 40px 20px;
  text-align: center;
  transition: all 0.3s ease;
  background-color: var(--color-background-light);
  min-height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.upload-area.drag-over {
  /* border-color: var(--color-primary); */
  background-color: var(--color-background-tint);
  transform: scale(1.02);
}

.upload-area.has-file {
  border-color: var(--color-primary);
  /* background-color: var(--color-background); */
}

.upload-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.upload-icon {
  color: var(--color-light-text);
}

.upload-content h3 {
  margin: 0;
  color: var(--color-text);
  font-size: 18px;
}

.upload-content p {
  margin: 0;
  color: var(--color-lighter-text);
}

.file-types {
  font-size: 12px;
  color: var(--color-lighter-text);
}

.browse-button {
  background-color: var(--color-tertiary);
  color: white;
  border: none;
  padding: 12px 24px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
}

.file-info {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  margin-top: 20px;
}

.file-icon {
  color: var(--color-tertiary);
  flex-shrink: 0;
  height: 24px;
}

.file-details {
  flex: 1;
}

.file-details h4 {
  margin: 0;
  color: var(--color-light-text);
  font-size: 14px;
}

.file-details p {
  margin: 0;
  color: var(--color-lighter-text);
  font-size: 10px;
}

.loading {
  color: #4caf50;
  font-weight: 500;
}

.remove-button {
  padding: 0;
  color: var(--color-light-text);
  border: none;
  cursor: pointer;
  transition: color 0.3s ease;
  background-color: transparent;
}

.remove-button:hover:not(:disabled) {
  color: var(--color-secondary);
}

.remove-button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.file-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.file-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  border-radius: 4px;
  background-color: var(--color-background-tint);
  padding: 4px 10px;
  width: 560px;
}

.file-item .file-icon {
  flex-shrink: 0;
}
