.category-wrapper {
  columns: 2;
  column-gap: 20px;
}

.category-group {
  break-inside: avoid-column;
}

.category-group:not(:first-child) {
  margin-top: 20px;
}

.expense-items-wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
  border-radius: 0 0 0 2px;
}

.expense-item {
  display: flex;
  flex-direction: column;
}

.expense-details {
  display: flex;
  flex-direction: row;
  border: 1px solid var(--color-background-tint);
  color: var(--color-text);
  flex: 5;
  overflow: hidden;
  border-radius: 2px;
}

.amount {
  font-size: 0.8rem;
  font-weight: bold;
  flex: 1;
  background-color: var(--color-background-light);
  color: var(--color-text);
  padding: 3px 0;
}

.description {
  flex: 4;
  padding-left: 20px;
  text-align: left;
  font-size: 0.8rem;
  line-height: 1.8rem;
  font-weight: normal;
  background-color: var(--color-background-tint);
}

.category {
  display: flex;
  align-self: flex-end;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  font-size: 1rem;
  font-weight: normal;
  background-color: var(--color-light-text);
  padding: 4px 18px;
  border-radius: 2px 2px 0 0;
  color: var(--color-background);
}

.category-icon {
  margin-right: 10px;
}
