.category-wrapper {
  columns: 2;
  column-gap: 20px;
  /* transition: columns 0.6s ease-out 0.6s; */
}

/* .category-wrapper.dragging {
  columns: 3;
} */

.category-group {
  break-inside: avoid-column;
}

.category-group:not(:first-child) {
  margin-top: 20px;
}

.category-group.drag-over {
  background-color: var(--color-background-tint);
}

.expense-items-wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
  overflow: hidden;
  border-radius: 0 0 0 2px;
  transition: gap 0.6s ease-out, border 0.2s ease-out 0.6s;
}

.dragging .expense-items-wrapper {
  overflow: hidden;
  gap: 0;
  border: 2px dashed var(--color-background-tint);
}

.expense-item {
  transform-origin: top;
  position: relative;
  display: flex;
  flex-direction: column;
  height: 28px;
}

@keyframes rollup {
  from {
    height: 28px;
  }
  to {
    height: 0;
  }
}

.dragging .expense-item.rolling-up {
  /* height: 0; */
  animation: rollup 0.5s ease-out var(--delay, 0s) forwards;
}

.expense-details {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  border: 1px solid var(--color-background-tint);
  color: var(--color-text);
  flex: 5;
  overflow: hidden;
  border-radius: 2px;
}

.amount {
  font-size: 0.8rem;
  font-weight: bold;
  flex: 1;
  background-color: var(--color-background-light);
  color: var(--color-text);
  padding: 3px 0;
}

.description {
  flex: 4;
  padding-left: 20px;
  text-align: left;
  font-size: 0.8rem;
  line-height: 1.8rem;
  font-weight: normal;
  background-color: var(--color-background-tint);
}

.category {
  display: flex;
  align-self: flex-end;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  font-size: 1rem;
  font-weight: normal;
  background-color: var(--color-light-text);
  padding: 4px 18px;
  border-radius: 2px 2px 0 0;
  color: var(--color-background);
}

.category-icon {
  margin-right: 10px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    height: 0;
  }
  to {
    opacity: 1;
    height: 60px;
  }
}

.drop-helper-text {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-lighter-text);
  text-align: center;
  width: 100%;
  height: 0;
  opacity: 0;
  height: 0;
}

.dragging .drop-helper-text {
  width: 100%;
  height: 0;
  animation: fadeIn 0.4s ease-out 0.8s forwards;
}

.drag-over .drop-helper-text {
  color: var(--color-background-light);
}
